<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1" >
        <!--<packages>
            <pac
            kage name="com.freshflows.tests" />
        </packages>
    -->
        <parameter name="browser" value="chrome"/>
        <classes>

            <class name="com.freshflows.tests.TestCase05" />
        </classes>

    </test>
</suite>